@use '../../styles/variables' as *;

.easter-egg-zone {
  position: fixed;
  top: env(safe-area-inset-top, 0px); // account for notch on mobile devices
  right: env(safe-area-inset-right, 0px); // account for notch on mobile devices
  width: 100px;
  height: 100px;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0.8rem;
  -webkit-tap-highlight-color: transparent; // remove the grey flash on tap

  .easter-egg-link {
    color: $color-bg;
    font-weight: bold;
    font-size: 0.75rem;
    text-decoration: none;
    background: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 19, 25, 0.15) 0px 2px 8px;
    animation: fade-in 0.8s ease-in-out;
    transition: box-shadow 200ms;

    &:hover {
      box-shadow: rgba(0, 19, 25, 0.25) 0px 4px 12px;
    }
  }
}