$margin-bottom-base: 1rem;
$border-radius-card: 0.45rem;
$fade-in-duration: 1.5s;

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .container {
    max-width: 81%;
    margin: 2% auto;
    height: 100vh;

    &__start {
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .btn {
      margin-bottom: $margin-bottom-base;
      text-align: center;
      font-weight: bold;
      box-shadow: rgba(0, 19, 25, 0.2) 0px 1px 2px,
        rgba(0, 19, 25, 0.1) 0px 4px 12px;
      background-color: #fff;
      color: #000;
      padding: 1.3rem;
      animation: fade-in $fade-in-duration ease-in-out;
      border-radius: $border-radius-card;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .cards-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 1rem;

      @media screen and (max-width: 640px) {
        grid-template-columns: 1fr;
      }

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: $margin-bottom-base;
        animation: fade-in $fade-in-duration ease-in-out;

        &__icons {
          display: flex;
          justify-content: space-between;

          .icon {
            margin: 0;

            i {
              font-size: 1.5rem;
              transition: transform 300ms ease-in-out;

              &:hover {
                transform: scale(1.035);
              }
            }
          }
        }

        &__text {
          height: 100px;
          width: 87%;
          line-height: 1.7;
          margin-bottom: 2rem;
        }

        &__technologies-container {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          .technology {
            background-color: #2a314c;
            padding: 0.5rem;
            border-radius: 1rem;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;

            &:hover {
              transform: translateY(-2px);
            }
          }
        }

      }
    }
  }
}